@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
/* * font-family: 'Poppins', sans-serif; */




body {
    background: #0d0d11;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #9c9c9c;
}

a {
    color: #9c9c9c;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*="__container"] {  /* ! FEATURE */
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    flex: 1 1 auto;
}

.page__main {}

.page__clients {
}
.page__services {
}

.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background-color: #3D96F4;
    color: #fff;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    /* 22/14 */

    transition: all 0.2s ease-in;
}

.button:hover {
    background-color: #1F78D6;
}

.button_dark {
    background: rgba(129, 129, 139, 0.2);
}
.button_dark:hover {
    background: rgb(90, 90, 99, 0.2);
}

@media (max-width: 991.98px) {
    .button {
        padding: 12px 20px;
    }
}

.title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19;
    color: #fff;
}

.text {
    line-height: 1.5; /* 24/16 */
    color: #81818b;
} 

.text_big {
    font-size: 18px;
    color: #9c9c9c;
}

.label {
    display: inline-block;
    padding: 10px 16px;
    border: 1px solid rgb(129, 129, 139, 0.2);
    border-radius: 12px;

    font-weight: 300;
    font-size: 12px;
    line-height: 1.6;
    color: #9C9C9C;
    letter-spacing: 2px;
    text-transform: uppercase;
}



/* ! HEADER */


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(13, 13, 17, 0.9);

    z-index: 5;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 35px;
}

.header__logo {}

.header__menu {
    flex: 1 1 auto;
}

.menu {}

.menu__icon {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 35px;
    row-gap: 3px;
}

.menu__item {}

.menu__link {
    display: block;
    font-size: 16px;
    color: #FFF;
    line-height: 1.62;
    /* 26px/16 */
}

.menu__link:hover {
    text-decoration: underline;
}

.header__cart {}

.cart-header {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-header:hover {
    text-decoration: underline;
}

.cart-header__text {
    font-size: 18px;
    color: #fff;
    line-height: 1.55;
    /* 28/18 */
}

.cart-header__quantity {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.header__button {
    flex: 0 0 auto;
}

.icon-menu {
    /* burger icon */
    display: none;
}

.header__button,
.header__cart,
.header__logo {
    position: relative;
    z-index: 5;
}



@media (max-width: 991.98px) {
    /* Так принято потому что, к примеру планшет(ipad mini с шириной 768px) будет затрагивать медиа-запрос с 768px, а с 767.98px - нет. */

    .header__container,
    .menu__list {
        column-gap: 25px;
    }

    .header__container {
        min-height: 90px;
    }
}

@media (max-width: 767.98px) {

    .header {
        z-index: 5;
    }

    .header__container,
    .menu__list {
        column-gap: 15px;
    }

    .icon-menu {
        /* burger icon */
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;

    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition: all 0.3s ease 0s;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);
    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        transform: rotate(-45deg);
        top: 50%;
    }

    .menu-open .icon-menu::after {
        transform: rotate(45deg);
        top: 50%;
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -100%;
        /* * Убираем меню бургера по дефолту для его появления по клику */
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        left: -100%;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }

    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu__link {
        font-size: 32px;
    }

    .header__container {
        min-height: 70px;
    }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
    left: 0;

    /* * не совсем понимаю почему это не работает без .menu-open, но это отвечает за его появление на станице, так как у нас по дефолту мобильное меню задано left: -100%; */
}

@media (max-width: 559.98px) {
    .header__logo { /* ! FEATURE */
        /* * ЭТО ВООБЩЕ ЧИТ!!! При достижении этого медиа-квери, ширина лого сокращается, но сама картинка отсается целой, но использовав св-во overflow - мы обрезаем в нашем случае текст в логотипе, оставляя лишь имг */ 
        width: 32px;
        flex: 0 0 32px;
        overflow: hidden;
    }

    .header__logo img {
        min-width: 137px;
    }

    .cart-header__text {
        display: none;
    }

    .cart-header__quantity {
        width: 40px;
        height: 45px;
        padding-top: 7px;
        background: url("/img/cart.svg") center/ 45px 40px no-repeat;
        border-radius: 0;
    }
    .header__menu {}
}






/* ! MAIN */


.main {
    padding-top: 160px;
    padding-bottom: 100px;
}

.main__container {
    display: flex;
    gap: 32px;
}

.main__content {
    flex: 0 1 50%;
    position: relative;
    padding-top: 125px;
    align-self: center;
}

.main__content::before {
    content: "";
    position: absolute;
    top: 107px;
    left: -31px;
    background: url(/img/decor.svg) center / 100% no-repeat;
    width: 122px;
    height: 122px;
}

.main__title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19;
    /* 61px/51.2px */
    color: #fff;
    max-width: 505px;

    margin-bottom: 28px;
}

.main__text, .main__text p {
    font-weight: 300;
    font-size: 18px;
    max-width: 491px;
    color: #9c9c9c;
    line-height: 1.5; /* 27px/18 */
    margin-bottom: 33px;
}

.main__actions {
    display: flex;
    row-gap: 32px;
    column-gap: 32px;
}

.main__button {}

.main__images {
    flex: 0 1 50%;

}

.images-main {
    display: flex;
    gap: 9.615385%;
    /* 60px fixed gap / 624px content width */
    justify-content: center;
}

.images-main__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.images-main__item {
    border-radius: 378px;
    overflow: hidden;
}

.images-main__item_2 {
    border-radius: 242px 242px 0px 242px;
}

.images-main__item_3 {
    border-radius: 242px 0px 242px 242px;
}


.images-main__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 120px;
        /* 90px+30px */
        padding-bottom: 60px;
    }

    .title {
        font-size: 44px;
    }
    .text_big {
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    .main {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .main__container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .main__content {
        align-content: stretch;
        padding-top: 20px;
    }
    .title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .main__text, .main__text p {
        margin-bottom: 15px;
    }
}

@media (max-width: 479.98px) {
    .main__actions {
        flex-direction: column;
    }
}






/* ! CLIENTS */

.clients {
    padding-top: 100px;
    padding-bottom: 80px;
}
.clients__container {
}
.clients__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;

    margin-bottom: 44px;
}
.clients__items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 30px;
}
.clients__item {
}
.clients__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .clients {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .clients__title {
        margin-bottom: 30px;
    }
}
@media (max-width: 767.98px) {
    .clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}









/* ! SERVICES */



.services {
    padding-top: 60px;
    padding-bottom: 100px;
}
.services__container {
    display: flex;
    justify-content: space-between;
}
.services__content {
    align-self: center;
}
.services__label {
    margin-bottom: 19px;
}
.services__title {
    margin-bottom: 12px;
}
.services__text, .services__text p {
    max-width: 490px;
    margin-bottom: 33px;
    line-height: 1.5;
}
.services__button {
}
.services__cards {
    flex: 0 1 50%;
    display: flex;
    gap: 32px;
}
.services__column {
}
.services__column:nth-child(1) {
    padding-top: 48px;
}


.services__item  {
}
.services__item:not(:last-child)  {
    margin-bottom: 32px;
}

.item-service {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 55px 25px 60px 25px;
}

.item-service__icon {
    margin-bottom: 16px;
}
.item-service__title {
    font-size: 19px;
    line-height: 1.4;
    color: #FFFFFF;

    margin-bottom: 10px;
}
.item-service__text {
}



@media (max-width: 1100px) {
    .services__container {
        flex-direction: column;
    }
    .services__cards {
        margin-top: 15px;
    }
}

@media (max-width: 991.98px) {
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media (max-width: 767.98px) {
    .services {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 620px) {
    .services__cards {
        flex-direction: column;
    }
    .item-service {
        padding: 30px 25px 30px 25px;
    }
}










/* ! WHY */




.why {
    padding-top: 100px;
    padding-bottom: 100px;
}
.why__container {
    display: flex;
    gap: 64px;
}
.why__images {
    display: flex;
    align-items: flex-end;
    position: relative;

    align-self: center;
}
.why__images::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -13px;
    background: url(/img/decor.svg) center / 100% no-repeat;
    width: 122px;
    height: 122px;
    z-index: -1;
}
.images-why__item_1 {
    border-radius: 678px 0px 378px 378px;
}
.images-why__item_2 {
    border-radius: 182px 182px 182px 0px;
}
.images-why__item {
    overflow: hidden;
}
.images-why__item img {
    max-width: 100%;
}
.why__content {
    align-self: center;
}
.why__label {
    margin-bottom: 43px;
}
.label {
}
.why__title {
    margin-bottom: 40px;
    max-width: 560px;
}

.why__text {
    margin-bottom: 39px;
    max-width: 491px;
}
.why__text p {
    line-height: 1.5;
}
.why__ul {
}
.why__ul__li {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}
.why__ul__li:not(:last-child) {
    margin-bottom: 25px;
}
.why__ul__li::before {
    content: url(/img/why/check.svg);
    top: calc(50% - 5px); /* * Так как высота имаге 10px, я беру 50% и отнимаю половину имаги чтобы вычислить центр  */
    left: 0;
    padding: 5px 9px;
    margin-right: 10px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 32px;
}




@media (max-width: 991.98px) {
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media (max-width: 767.98px) {
    .why {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .why__container {
        flex-direction: column-reverse;
    }
    .images-why{
        max-width: 80%;
    }
    .why__label {
        margin-bottom: 19px;
    }
}








/* ! STATS */



.stats {
    padding-top: 100px;
    padding-bottom: 100px;
}
.stats__container {
    display: flex;
    gap: 32px;
}
.stats__column {
    display: flex;
    flex-direction: column;
}
.stats__cards {
    display: flex;
    flex: 0 1 66%;
    gap: 32px;
}
.cards__item {
    padding: 44px 71px 51px 40px;
}
.cards__item:nth-child(1) {
    margin-bottom: 32px;
}
.item-cards {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
}
.item-cards__title {
    line-height: 1.2;
    margin-bottom: 32px;
}
.item-cards__subtitle {
    line-height: 1.5;
}
.stats__img {
    border-radius: 0px 448px 378px 378px;
    overflow: hidden;
    align-self: center;
}
.stats__img img {
    max-width: 100%;
}


@media (max-width: 1170px) {
    .stats__container {
        flex-direction: column;
    }

    .stats__img {
        align-self: center;
    }
    .cards__item {
        padding: 44px 26px 51px 40px;
    }
}

@media (max-width: 991.98px) {
    .stats {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .stats {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .item-cards__title {
        margin-bottom: 14px;
    }
    
}

@media (max-width: 620px) {
    .stats__cards {
        flex-direction: column;
    }
    .cards__item  {
        padding: 30px 25px 30px 25px;
    }
    .stats__img {
    }
    .stats__img {
        max-width: 80%;
    }
}








/* ! TESTINOMIALS */




.testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
}
.testimonials__content {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
}
.testimonials__main {
    
}
.testimonials__label {
    margin-bottom: 25px;
}
.testimonials__title {
    margin-bottom: 12px;
}
.testimonials__text,
.testimonials__text p {
    max-width: 736px;
    line-height: 1.5;
}
.testimonials__button {
    align-self: flex-end;
}



.testimonials__cards {
    display: flex;
    gap: 48px;
}
.testimonials__item {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    flex: 0 1 33.3%;
    padding: 64px 43px 84px 40px;

    display: flex;
    flex-direction: column;
}
.person-testimonials {
    display: flex;
    margin-bottom: 33px;
}
.person-testimonials__avatar {
    overflow: hidden;
}

.person-testimonials__avatar_1 {
    border-radius: 0px 68px 68px 68px;
}
.person-testimonials__avatar_2 {
    border-radius: 68px 0px 68px 68px;
}
.person-testimonials__avatar_3 {
    border-radius: 68px 68px 0px 68px;
}

.person-testimonials__body {
    align-self: center;
    margin-left: 16px;
}
.person-testimonials__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;

    margin-bottom: 7px;
}
.person-testimonials__company {
    font-size: 14px;
    line-height: 1.6;
}

.item-testimonials__title {
    font-size: 32px;
    line-height: 1.4;
    color: #FFFFFF;

    margin-bottom: 34px;
}
.item-testimonials__text, 
.item-testimonials__text p {
    color: #9C9C9C;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    flex: 1 1 auto;
    margin-bottom: 34px;
}
.item-testimonials__quality {
}



@media (max-width: 1104px) {
    .testimonials__content {
        display: block;
    }
    .testimonials__main {
        margin-bottom: 30px;
    }
    .testimonials__text {
        padding-right: 40px;
    }
    .testimonials__cards {
        flex-direction: column;
        gap: 32px;
    }
    .testimonials__item {
        padding: 44px 23px 44px 40px;
    }
    .person-testimonials {
        margin-bottom: 20px;
    }
    .item-testimonials__title {
        margin-bottom: 15px;
    }
    .item-testimonials__text {
        max-width: 800px;
    }
}

@media (max-width: 991.98px) {
    .testimonials {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .testimonials {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .testimonials__content {
        margin-bottom: 54px;
    }
    .item-testimonials__title {
        font-size: 24px;
    }
    .item-testimonials__text {
        margin-bottom: 20px;
    }
}